.header {
    position: absolute;
}
.logo {
    margin-top: 34px;
    margin-left: 50px;
    width: 80px;
}
.text-color {
    color: chartreuse;
}
.color {
    text-decoration: none;
    color: black;
}
.navigation {
    position: relative;
    width: 1014px;
    margin-top: 34px;
    margin: -40px;
    text-align: center;
}
.container{
    background-color: rgba(242, 242, 242, 1);
    min-height: 900px;
}
.afte {
    position: relative;
    margin-left: 700px;
    margin-top: -18px;
}
.button {
    color: cornsilk;
    border-radius: 4px;
    background-color: rgb(1, 190, 1);
}
.text {

    margin-left: 60px;
    margin-top: -738px;
    text-align: center;
    width: 822px;
    height: 160px;
}
.text2 {
    margin-top: -100px;
    margin-left: 230px;
    text-align: center;
    width: 492px;
    height: 81px;
}
.afte2 {
    text-align: center;
}